# this is a comment
snippet c c-snippet
	caaaa!

snippet config 'config function '
	config = function()
	$1
	end


snippet return 'return plugin '
	return {
			'$1',
		}

snippet keymap 'make a new keymap'
	vim.keymap.set("n", "$1", "$2")
